<template name="fieldPicklist">
	{{#with options=./field.options name=./name label=./label value=./value field=./field visual=./visual meta=./meta record=./record}}
		{{#if withScroll visual field}}
			{{#if singleSelect field}}
				{{> Component.field.select}}
			{{else}}
				<!-- TODO kmultiselectfield -->
				{{> Component.field.checkGroup}}
			{{/if}}
		{{else}}
			{{#if singleSelect field}}
				{{> Component.field.radioGroup}}
			{{else}}
				{{> Component.field.checkGroup}}
			{{/if}}
		{{/if}}
	{{/with}}
</template>