<template name="account">
	<div class="account-box">
		<ul>
			<li>
				<konecty-button class="link" icon="plus"></konecty-button>
			</li>
			<li>
				<konecty-button class="link" icon="gear"></konecty-button>
			</li>
			<li>
				<konecty-button class="link notification" data-total="4" icon="bell"></konecty-button>
			</li>
			<li>
				<div on-mouseDown="{{click}}" class="user">
					<img src="//cdn-dev-my.konecty.com/rest/image/crop/40/40/foxter/wm/User/198/pictures/386634_264510176930403_100001142687363_706346_123680132_n.jpg?etag=e733c5e64c34663e0e7a2fe1ad5b2fa2"/>
				</div>
			</li>
		</ul>
		<section class="account-tab {{status}}">
			<konecty-button class="close" icon="close"></konecty-button>
			{{> Template.dynamic template=tabTemplate data=. }}
		</section>
	</div>
</template>
