<template name="accountConfiguration">
	<header>
		<h3>Configurações</h3>
		<p>Loren ipsum dolor sit amet</p>
	</header>
	<ul>
		<li>
			<konecty-text label="First Name" double></konecty-text>
		</li>
		<li>
			<konecty-text label="Last Name" double></konecty-text>
		</li>
		<li>
			<konecty-checkbox>Abrir o konecty ao iniciar o windows</konecty-checkbox>
		</li>
		<li>
			<konecty-select label="Last Name">
				<item>Loren</item>
				<item>Ipsum</item>
				<item>Loren</item>
				<item>Ipsum</item>
			</konecty-select>
		</li>
		<li>
			<konecty-checkbox>Abrir o konecty ao iniciar o windows</konecty-checkbox>
		</li>
		<li>
			<konecty-checkbox>Abrir o konecty ao iniciar o windows</konecty-checkbox>
		</li>
	</ul>
</template>
