<template name="modalAddress">
	<modal-header>
		<h1>Endereço</h1>
		<p>Complete os campos abaixo com as informações do endereço</p>
	</modal-header>
	<modal-content>
		<section class="modal-address">
			<div class="fields">
				<konecty-select name="country" class="large" label="País" lookup double>
					<item selected="true" value="BRA">Brasil</item>
				</konecty-select><konecty-text name="postalCode" class="large" label="CEP" value="{{postalCode}}" double>
				</konecty-text><konecty-select name="state" class="small" label="Estado" value="{{state}}" lookup double>
					<item>AC</item>
					<item>AL</item>
					<item>AP</item>
					<item>AM</item>
					<item>BA</item>
					<item>CE</item>
					<item>DF</item>
					<item>ES</item>
					<item>GO</item>
					<item>MA</item>
					<item>MT</item>
					<item>MS</item>
					<item>MG</item>
					<item>PA</item>
					<item>PB</item>
					<item>PR</item>
					<item>PE</item>
					<item>PI</item>
					<item>RJ</item>
					<item>RN</item>
					<item selected="true">RS</item>
					<item>RO</item>
					<item>RR</item>
					<item>SC</item>
					<item>SP</item>
					<item>SE</item>
					<item>TO</item>
				</konecty-select><konecty-select name="city" label="Cidade" filter="false" lookup double>
					{{#if city}}
						<item selected="true">{{city}}</item>
					{{/if}}
				</konecty-select><konecty-select name="district" label="Bairro" filter="false" strict="false" lookup double>
					{{#if district}}
						<item selected="true">{{district}}</item>
					{{/if}}
				</konecty-select><konecty-select name="placeType" class="small" label="Tipo" value="{{placeType}}" lookup double>
					<item>Acesso</item>
					<item>Alameda</item>
					<item>Alto</item>
					<item>Área</item>
					<item>Avenida</item>
					<item>Beco</item>
					<item>Bloco</item>
					<item>Caminho</item>
					<item>Condomínio</item>
					<item>Conjunto</item>
					<item>Distrito</item>
					<item>Escadaria</item>
					<item>Estrada</item>
					<item>Jardim</item>
					<item>Jardinete</item>
					<item>Ladeira</item>
					<item>Largo</item>
					<item>Loteamento</item>
					<item>Parque</item>
					<item>Passagem</item>
					<item>Praça</item>
					<item>Praia</item>
					<item>Quadra</item>
					<item>Residencial</item>
					<item>Rodovia</item>
					<item>Rua</item>
					<item>Servidão</item>
					<item>Setor</item>
					<item>Travessa</item>
					<item>Via</item>
					<item>Viaduto</item>
					<item>Viela</item>
					<item>Vila</item>
				</konecty-select><konecty-select name="place" label="Logradouro" filter="false" strict="false" lookup double>
					{{#if place}}
						<item selected="true">{{place}}</item>
					{{/if}}
				</konecty-select><konecty-text name="number" class="small" label="Número" value="{{number}}" double>
				</konecty-text><konecty-text class="small" label="Complemento" name="complement" value="{{complement}}" double>
				</konecty-text>
			</div>
			<konecty-button id="validate-address">Validar endereço e mostrar no mapa</konecty-button>
			<div class="map">
				<google-map latitude="37.77493" longitude="-122.41942">
					<google-map-marker latitude="37.779" longitude="-122.3892" title="Go Giants!"></google-map-marker>
				</google-map>
			</div>
		</section>
	</modal-content>
	<modal-footer>
		<konecty-button class="action">Salvar</konecty-button>
		<konecty-button class="close">Fechar</konecty-button>
	</modal-footer>
</template>
