<template name="grid">
	<div class="grid">
		<div class="holder cf_">
			<section class="left">
				<header>
					<table>
						<thead>
							<tr>
								<td class="checkbox">
									<konecty-checkbox color="blue"></konecty-checkbox>
								</td>
								{{#each meta.list.columns}}
									{{#if isLockColumn .}}
										{{#with getFieldByName ../meta.document linkField}}
											<td title="{{i18n label name}}" class="cell column-{{../linkField}}">{{i18n label name}}</td>
										{{/with}}
									{{/if}}
								{{/each}}
							</tr>
						</thead>
					</table>
				</header>
				<div class="body">
					<table>
						<tbody>
							{{#each data}}
								<tr class="record-{{_id}}">
									<td class="checkbox">
										<konecty-checkbox name="{{_id}}" checked="{{idIsSelected _id}}"></konecty-checkbox>
									</td>
									{{#each ../meta.list.columns}}
										{{#if isLockColumn .}}
											<td class="column-{{linkField}}">
												{{{renderValue meta=../../meta column=. record=..}}}
											</td>
										{{/if}}
									{{/each}}
								</tr>
							{{/each}}
						</tbody>
					</table>
				</div>
			</section>
			<section class="main">
				<header>
					<table>
						<thead>
							<tr>
								{{#each meta.list.columns}}
									{{#unless isLockColumn .}}
										{{#if visible}}
											{{#with getFieldByName ../meta.document linkField}}
												<td title="{{i18n label name}}" class="cell column-{{../linkField}}">{{i18n label name}}</td>
											{{/with}}
										{{/if}}
									{{/unless}}
								{{/each}}
							</tr>
						</thead>
					</table>
				</header>
				<div class="body">
					<table>
						<tbody>
							{{#each data}}
								<tr class="record-{{_id}}">
									{{#each ../meta.list.columns}}
										{{#unless isLockColumn .}}
											{{#if visible}}
												{{#with getFieldByName ../../meta.document linkField}}
													{{#with field=. meta=../../../meta column=.. record=../..}}
														<td class="column-{{column.linkField}}">
															{{{renderValue meta=meta column=column record=record}}}
														</td>
													{{/with}}
												{{/with}}
											{{/if}}
										{{/unless}}
									{{/each}}
								</tr>
							{{/each}}
						</tbody>
					</table>
				</div>
			</section>
		</div>
	</div>


	<style>
		{{#each meta.list.columns}}
			{{#with getFieldByName ../meta.document linkField}}
				.column-{{../linkField}} {
					min-width: {{getMinWidth ..}}px;
					max-width: {{getMinWidth ..}}px;
					text-align: {{getAlign .}};
				}
			{{/with}}
		{{/each}}

		.grid .left {
			min-width: {{getLockWidth meta.list.columns}}px;
			max-width: {{getLockWidth meta.list.columns}}px;
		}
	</style>

</template>
