<!DOCTYPE html>
<html lang="pt-BR">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<style>
	body {
		font-weight: normal;
		font-family: "Arial",Helvetica,Helvetica Neue,Verdana,sans-serif;
		font-size: 13px;
		font-weight: bold;
		color: #888;
		text-align: left;
	}
</style>
</head> 
<body>
	<a href="http://my.konecty.com">
		<img src="http://cdn-ria.konecty.com/konecty/resources/images/konecty.png"/>
	</a>
	<table>
		<tr>
			<td>
				<p style="color:black">
					{{name}},<br/><br/> Conforme solicitado segue o link para login:
					<br/>
					<br/> 
					<a href="{{url}}">
						{{url}}
					</a>
				</p>
				<br/>
				O link é válido até: {{ expireAt|date('d/m/Y H:i:s', 180) }}
			</td>
		</tr>
	</table>
</body>
</html>
