<template name="filterItem">
	{{#with getFieldFromMetaDocument meta.document condition.term}}
		<li class="input-item cf_">
			<div class="header">
				{{> Component.field.checkbox name="checkbox" color="blue" label=label value=false}}
			</div>
			<div class="options">
				{{#with getFieldNameForTemplate .}}
					{{#with getValue ../../record ../name}}
						{{#with name="value" field=../.. visual=../../../visual meta=../../../meta record=../../../record value=value template=..}}
							{{> Template.dynamic template=./template }}
						{{/with}}
					{{/with}}
				{{/with}}
			</div>
		</li>
	{{/with}}
</template>
