<template name="filters">
	<section class="page-filters page-section">
		<header>
			<h3>Filtros</h3>
			<div class="btns">
				{{ > Button icon="trash-o" tooltip="Limpar todos os filtros" }}
				{{ > Button icon="plus" tooltip="Adicionar filtro" }}
				{{ > Button icon="filter" tooltip="Aplicar filtros" }}
				{{ > Button class="control" icon="chevron-left" tooltip="Fechar filtros" }}
			</div>
		</header>
		<div class="wrapper">
			<ul class="list">
				<!-- <li>
					{{ > Component.field.checkbox label="Label Teste A" }}
				</li>
				<li>
					{{ > Component.field.checkbox label="Label Teste B" }}
				</li>
				<li>
					{{ > Component.field.radio label="Label Teste C" }}
				</li>
				<li>
					{{ > Component.field.radio label="Label Teste D" }}
				</li>
				<li>
					{{ > Button label="Button" }}
				</li>
				<li>
					{{ > Button icon="plus" }}
				</li>
				<li>
					{{ > Component.field.display label="Display Label" value="Display Value" }}
				</li>
				<li>
					{{ > Component.field.text label="Time" value="12:00:00" type="time" }}
				</li>
				<li>
					{{ > Component.field.text label="Date" value="" type="date" }}
				</li>
				<li>
					{{ > Component.field.text label="Currency" value="" type="currency" }}
				</li>

				<li>
					{{ > Component.field.select label="Text" value="22" items=items }}
				</li>

				<li>
					{{ > Component.field.select label="Lookup" value="Item B" items=items lookup=true }}
				</li>

				<li>
					{{ > Component.field.switch label="Switch A" value=true }}
				</li>

				<li>
					{{ > Component.field.switch label="Switch B" value=false }}
				</li>

				<li>
					{{ > Component.field.url label="URL" }}
				</li>

				<li>
					{{ > Component.field.password label="Password" }}
				</li> -->

				{{#if meta.list.filter}}
					{{#each arrayify meta.list.filter.conditions}}
						{{> filterItem condition=value meta=../meta}}
					{{/each}}
				{{/if}}

			</ul>
		</div>
		<footer>
			<!-- <konecty-button class="open-modal" hover="scale">Call Modal</konecty-button> -->
		</footer>
	</section>
</template>
