<template name="main">
	<section class="page-main page-section">
		<header>
			<h3>Imóveis para Ativação</h3>
			<div class="btns">
				{{ > Button tooltip="Novo" icon="file-o" }}
				{{ > Button tooltip="Editar" icon="edit" }}
				{{ > Button tooltip="Ordenar" icon="sort" }}
				{{ > Button tooltip="Detalhes" icon="expand" }}
				{{ > Button tooltip="Colunas" icon="columns" }}
				{{ > Button tooltip="Atualizar" icon="refresh" }}
				{{ > Button tooltip="Duplicar" icon="copy" }}
				{{ > Button tooltip="Excluir" icon="trash-o" }}
				{{ > Button tooltip="Mudar Usuário" icon="user" }}
				{{ > Button tooltip="Exportar" icon="share" }}
				{{ > Button tooltip="Mapa" icon="map-marker" }}
				{{ > Button tooltip="Calendário" icon="calendar" }}
				{{ > Button tooltip="Imprimir" icon="print" }}
				{{ > Button tooltip="Salvar Preferências" icon="save" }}
				{{ > Button tooltip="Filtrar Selecionados" icon="check-square-o" }}
			</div>
		</header>
		<div class="wrapper">
			<!-- GRID -->
			{{> grid}}
		</div>
		<footer>
			<konecty-button icon="chevron-left" hover="scale"></konecty-button><konecty-button hover="scale">1</konecty-button><konecty-button hover="scale">2</konecty-button><konecty-button hover="scale">3</konecty-button><konecty-button hover="scale">4</konecty-button><konecty-button hover="scale">5</konecty-button><konecty-button icon="chevron-right" hover="scale"></konecty-button>
		</footer>
	</section>
</template>
