<template name="master">
	<!-- {{#Modal header=modal.header footer=modal.footer}}
		{{> Template.dynamic template=modal.body}}
	{{/Modal}} -->
	{{> Alert type="confirm" title="Title" params=alertParams }}
	<!-- <konecty-modal classes="{{modalOpenedClass}}" full>
		{{#if modal}}
			{{> Template.dynamic template=modal data=modalData }}
		{{/if}}
	</konecty-modal>
	<konecty-alert classes="{{alertOpenedClass}}">
		{{#if alert}}
			{{> Template.dynamic template=alert data=alertData }}
		{{/if}}
	</konecty-alert> -->
	<div id="foxy" class="animated ex-3 colored-1 submenu-closed">
		{{> menu}}
		<main class="page-content">
			{{> header}}
			{{> filters}}
			{{> main}}
			{{> Component.form}}
		</main>
	</div>
</template>
