<template name="menu">
	<aside class="page-menu">
		<header class="cf_">
			<div class="logo">
				<img src="/images/logo/icon.svg" />
			</div>
		</header>
		<div class="wrapper">
			<ul class="main-nav">
				{{#each menu}}
					{{#if menuHasSubItems _id}}
						<li data-color="{{getRandomColor this}}" class="item {{#if isCurrentMenu _id}}active{{/if}}">
							<a href="#"><i class="fa fa-{{icon}}"></i><span>{{i18n label}}</span></a>
							<nav>
								{{#each subMenuLists _id}}
									<a href="/foxy/list/{{document}}/{{name}}" class="{{#if isCurrentSubMenu _id}}active{{/if}}"><span>{{i18n plurals label}}</span></a>
								{{/each}}

								{{#each subMenuPreferenceLists _id}}
									<a href="/foxy/customList/{{document}}/{{_id}}"><span>{{name}}</span></a>
								{{/each}}

								{{#each subMenuReports _id}}
									<a href="/foxy/pivot/{{document}}/{{name}}"><span>{{i18n plurals label}}</span></a>
								{{/each}}

								{{#each subMenuPreferenceReports _id}}
									<a href="/foxy/customPivot/{{document}}/{{_id}}"><span>{{name}}</span></a>
								{{/each}}

								{{#each subMenuModules _id}}
									{{#if menuHasSubItems _id}}
										<h3>{{i18n plurals label}}</h3>
										{{#each subMenuLists _id}}
											<a href="/foxy/list/{{document}}/{{name}}"><span>{{i18n plurals label}}</span></a>
										{{/each}}

										{{#each subMenuPreferenceLists _id}}
											<a href="/foxy/customList/{{document}}/{{_id}}"><span>{{name}}</span></a>
										{{/each}}

										{{#each subMenuReports _id}}
											<a href="/foxy/pivot/{{document}}/{{name}}"><span>{{i18n plurals label}}</span></a>
										{{/each}}
										{{#each subMenuPreferenceReports _id}}
											<a href="/foxy/customPivot/{{document}}/{{_id}}"><span>{{name}}</span></a>
										{{/each}}
									{{/if}}
								{{/each}}
							</nav>
						</li>
					{{/if}}
				{{/each}}
			</ul>

		</div>
		<footer>
			<span class="control">
			</span>
		</footer>
	</aside>
</template>
