<template name="Component.form">
	<section class="page-view page-section {{#unless record}}blur{{/unless}}">
		<header>
			<h3>APARTAMENTO ROSSI MAIS</h3>
			<div class="btns">
				{{ > Button class="control" tooltip="Esconder visualização" icon="chevron-right" }}
				{{#if canInsert}}
					{{ > Button class="new-record" tooltip="Novo" icon="file-o" }}
				{{/if}}
				{{#if canSave}}
					{{ > Button tooltip="Salvar" icon="save" class="save"}}
				{{/if}}
				{{#if canCancel}}
					{{ > Button tooltip="Cancelar" icon="times" }}
				{{/if}}
				<!-- {{ > Button tooltip="Converter" icon="arrow-right" }}
				{{ > Button tooltip="Imprimir" icon="print" }}
				{{ > Button tooltip="Histórico" icon="clock-o" }} -->
			</div>
		</header>
		<nav class="side-nav">
			{{#each meta.view.groups}}
				<a href="" group-name="{{tokenize name}}"><i class="fa fa-{{icon}}" icon-char="{{getIconChar label}}"></i></a>
			{{else}}
				<a href=""><i class="fa fa-connectdevelop"></i></a>
			{{/each}}
		</nav>
		<div class="wrapper">
			<div class="resume" style="display:none;">
				<figure>
					<img src="/images/apto-exemplo.jpg" />
				</figure>
				<ul>
					<li title="Tipo">Apartamento</li>
					<li title="Valor de venda">R$ 420.000,00</li>
					<li title="">R$ 6.716,78</li>
					<li title="Valor do Condominio">R$ 350,00</li>
				</ul>
			</div>
			<ul class="list">
				{{#if meta.view.groups}}
					{{#each meta.view.groups}}
						<li class="input-item cf_" group-name="{{tokenize name}}">
							<div class="header">
								<h4>{{i18n label}}</h4>
							</div>
							<div class="options">
								{{#each visuals}}
									{{> visual meta=../../meta visual=. record=record}}
								{{/each}}
							</div>
						</li>
					{{/each}}
				{{/if}}
			</ul>
		</div>
		{{#unless record}}
			<div class="view-overlay">
				<div>
					Selecione um registro na grid, ou <a href="#" class="new-record">crie um novo</a>
				</div>
			</div>
		{{/unless}}
		<footer>
		</footer>
	</section>
</template>
