<template name="visual">
	{{#with getFieldByName meta.document visual.name}}
		{{#with getFieldNameForTemplate .}}
			{{#with getValue ../../record ../name}}
				<div class="field">
				{{#with label=getLabel name=../../name field=../.. visual=../../../visual meta=../../../meta record=../../../record value=value template=..}}
					{{#if field.isList}}
						{{> Component.field.list }}
					{{else}}
						{{> Template.dynamic template=./template }}
					{{/if}}
				{{/with}}
				</div>
			{{/with}}
		{{/with}}
	{{/with}}
</template>
