<template name="authMail">
	<section id="konecty-login">
		<header class="header" role="navigation">
			<a href="http://konecty.com"><img src="/images/logo/lettering.svg"></a>
			<small>Connecting ideas since 2012</small>
		</header>
		<div class="main">
			<div class="wrapper">
				<div class="login-box">
					<div class="content">
						<p>Olá {{currentUser.name}}</p>

						{{#if notAuthorized}}
							<p>
								Para autorizar o envio de e-mails, por favor clique no botão abaixo e
								efetue o login utilizando o endereço {{userEmail}}:
								<div class="submit">
									<button class="authorize" data-wait='Aguarde ..'><span>Autorizar</span></button>
									<button class="logout"><span>Sair</span></button>
								</div>
							</p>
						{{else}}
							<p>Autorização concedida. Agora você pode enviar e-mails através do Konecty utilizando sua conta de e-mail.</p>
							<p>
								{{#if testSent}}
									<p class="blue">
										E-mail enviado, verifique sua caixa de e-mails.
									</p>
									<p>
										Se você não receber dentro de alguns minutos, REVOGUE o acesso e tente novamente.
									</p>
								{{else}}
									Utilize o botão abaixo para testar o envio de e-mails:

									<div class="submit">
										<button class="sendTestEmail" data-wait='Aguarde ..'><span>Testar envio</span></button>
									</div>
								{{/if}}
							</p>

							<p>
								Você pode revogar acesso clicando no botão abaixo:
								<div class="submit">
									<button class="revoke" data-wait='Aguarde ..'><span>Revogar</span></button>
									<button class="logout"><span>Deslogar</span></button>
								</div>
							</p>

							<p>
								<div class="submit">
									<button class="ok" style="color:green"><span>OK</span></button>
								</div>
							</p>
						{{/if}}
					</div>
				</div>
			</div>
		</div>
	</section>
</template>
