<template name="Alert">
	<div class="{{getClass}}">
		<div class="wrapper">
			<div class="window-container">
				<section class="window">
					{{#if title.get}}
						<header>
							<div>
								<h1>{{title.get}}</h1>
							</div>
							{{ > Button class='close' icon="remove" }}
						</header>
					{{/if}}
					<div class="main">
						<div class="content">
							{{#if message.get}}
								{{message.get}}
							{{/if}}
							{{#if input.get}}
								{{> Component.field.text value="" class="prompt" }}
							{{/if}}
						</div>
					</div>
					<footer>
						{{#if actionVisible.get}}
							{{ > Button class='action' label=actionText.get }}
						{{/if}}
						{{#if cancelVisible.get}}
							{{ > Button class='cancel' label=cancelText.get }}
						{{/if}}
						{{#if closeVisible.get}}
							{{ > Button class='close' label=closeText.get }}
						{{/if}}
					</footer>
					{{#if blocked}}
						<div class="block"></div>
					{{/if}}
				</section>
			</div>
		</div>
	</div>
</template>