<template name="Component.field.list">
	<section class="{{getClass}}">
		{{{getLabelHtml}}}
		<div>
			{{#each reactiveValue}}
				{{#with name=data.name field=data.field visual=data.visual meta=data.meta record=data.record value=currentData.get parentData=currentData template=data.template}}
					{{> Component.field.listItem currentData}}
				{{/with}}
			{{/each}}
			<div class="button-area">
				{{> Button icon="plus-circle" class="small add-item" }}
			</div>
		</div>
	</section>
</template>