<template name="Modal">
	<div class="{{getClass}}">
		<div class="wrapper">
			<div class="window-container">
				<section class="window">
					<header>
						<div>
							{{> Template.dynamic template=getTemplate.header data=getData.header}}
						</div>
						{{ > Button class='close' icon="remove" }}
					</header>
					<div class="main">
						<div class="content">
							{{> Template.contentBlock}}
						</div>
					</div>
					<footer>
						{{> Template.dynamic template=getTemplate.footer data=getData.footer}}
						{{#if cancel}}
							{{ > Button class='cancel' label=cancel }}
						{{/if}}
					</footer>
					{{#if blocked}}
						<div class="block"></div>
					{{/if}}
				</section>
			</div>
		</div>
	</div>
</template>