<div style="text-align: center">
	Olá {{name}}, seu código de verificação OTP foi gerado.<br /><br />
	<div style="margin: 20px">
		<span style="background-color: #eee; border-radius: 10px; padding: 10px 20px; font-size: 24px; font-weight: bold"> {{otpCode}} </span>
	</div>
	<br />
	Este código expira em {{expirationMinutes}} minutos ({{expiresAt}}).<br />
	<br />
	Se você não solicitou este código, ignore este e-mail.
</div>

