<template name="login">
	<section id="konecty-login" class="hidden">
		<header class="header" role="navigation">
			<a href="http://konecty.com"><img src="/images/logo/lettering.svg"></a>
			<small>Connecting ideas since 2012</small>
		</header>
		<div class="main">
			<div class="wrapper">
				<div class="login-box">
					<div class="content">
						<p>Entre com seus dados de login do konecty</p>
						<ul class="fields">
							<li>
								<label>Usuário</label>
								<input type="text" name="user" />
							</li>
							<li>
								<label>Senha</label>
								<input type="password" name="password" />
							</li>
							<li class='recovery'>
								<label>Email</label>
								<input type="text" name="email" />
							</li>
						</ul>
						<div class="submit">
							<button data-wait='Aguarde ..'><span>Entrar</span></button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</template>