on:
    release:
        types:
            - created
jobs:
    build:
        runs-on: ubuntu-latest
        steps:
            - name: get latest release with tag
              id: latestrelease
              run: |
                  echo "::set-output name=releasetag::$(curl -s https://api.github.com/repos/konecty/Konecty/releases/latest | jq '.tag_name' | sed 's/\"//g')"
            - name: confirm release tag
              run: |
                  echo ${{ steps.latestrelease.outputs.releasetag }}
            - name: tagcheckout
              uses: actions/checkout@v3
              with:
                  ref: ${{ steps.latestrelease.outputs.releasetag }}
            - name: Install Meteor
              run: |
                  curl https://install.meteor.com/ | sh
                  export METEOR_ALLOW_SUPERUSER=true
                  meteor --version
                  meteor node --version
                  meteor npm --version
            - name: Build
              run: |
                  meteor npm install
                  meteor build --server-only /tmp/build
            - name: Copy build to GitHub
              uses: softprops/action-gh-release@v1
              if: startsWith(github.ref, 'refs/tags/')
              with:
                  files: /tmp/build/Konecty.tar.gz
            - name: Setup Docker Buildx
              uses: docker/setup-buildx-action@v1
            - name: Get the tag name
              run: |
                  echo "Tag name from GITHUB_REF_NAME: $GITHUB_REF_NAME"
                  echo "Tag name from github.ref_name: ${{  github.ref_name }}"
            - name: Login to DockerHub
              uses: docker/login-action@v1
              with:
                  username: ${{ secrets.DOCKER_USER }}
                  password: ${{ secrets.DOCKER_PASSWORD }}
            - name: Build and push
              id: docker_build
              uses: docker/build-push-action@v2
              with:
                  push: true
                  tags: konecty/konecty:${{  github.ref_name }}
                  build-args: |
                      VERSION=${{  github.ref_name }}
