<!DOCTYPE html>
<html lang="pt-BR">
	<head>
		<title>Konecty</title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta http-equiv="Cache-Control" content="public" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="application-name" content="Konecty" />
		<meta name="description" content="Konecty" />
		<meta name="application-url" content="http://{{ env }}{{ host }}/" />
		<meta name="google" content="notranslate" />
		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
		<link rel="canonical" href="http://{{ env }}{{ host }}/" />
		<link rel="stylesheet" type="text/css" href="//cdn-{{ env }}ria.konecty.com/resources/login/loading.css" />
		<link rel="shortcut icon" href="//cdn-{{ env }}ria.konecty.com/favicon.ico" sizes="16x16" type="image/x-icon" />
		<link rel="icon" href="//cdn-{{ env }}ria.konecty.com/resources/images/logo/16x16.png" sizes="16x16" type="image/png" />
		<link rel="icon" href="//cdn-{{ env }}ria.konecty.com/resources/images/logo/57x57.png" sizes="57x57" type="image/png" />
		<link rel="icon" href="//cdn-{{ env }}ria.konecty.com/resources/images/logo/75x75.png" sizes="75x75" type="image/png" />
		<link rel="icon" href="//cdn-{{ env }}ria.konecty.com/resources/images/logo/128x128.png" sizes="128x128" type="image/png" />
		<link
			rel="icon"
			href="//cdn-{{ env }}ria.konecty.com/resources/images/logo/icon.ico"
			sizes="32x32 48x48"
			type="image/vnd.microsoft.icon"
		/>
		<link
			rel="icon"
			href="//cdn-{{ env }}ria.konecty.com/resources/images/logo/icon.icns"
			sizes="128x128 512x512 8192x8192 32768x32768"
		/>
		<link rel="icon" href="//cdn-{{ env }}ria.konecty.com/resources/images/logo/icon.svg" sizes="any" type="image/svg+xml" />
		<link rel="apple-touch-icon" href="//cdn-{{ env }}ria.konecty.com/resources/images/logo/57x57.png" sizes="57x57" />
		<link rel="apple-touch-icon" href="//cdn-{{ env }}ria.konecty.com/resources/images/logo/72x72.png" sizes="72x72" />
		<link rel="apple-touch-icon" href="//cdn-{{ env }}ria.konecty.com/resources/images/logo/114x114.png" sizes="114x114" />
		<link rel="apple-touch-icon" href="//cdn-{{ env }}ria.konecty.com/resources/images/logo/144x144.png" sizes="144x144" />
		<link
			rel="apple-touch-startup-image"
			href="//cdn-{{ env }}ria.konecty.com/resources/images/logo/apple-touch-startup-image-320x460.png"
			media="(device-width: 320px)"
		/>
		<!-- iPhone SPLASHSCREEN-->
		<link
			rel="apple-touch-startup-image"
			href="//cdn-{{ env }}ria.konecty.com/resources/images/logo/apple-touch-startup-image-640x920.png"
			media="(device-width: 320px) and (-webkit-device-pixel-ratio: 2)"
		/>
		<!-- iPhone (Retina) SPLASHSCREEN-->
		<link
			rel="apple-touch-startup-image"
			href="//cdn-{{ env }}ria.konecty.com/resources/images/logo/apple-touch-startup-image-768x1004.png"
			media="screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait)"
		/>
		<!-- iPad (non-Retina) (Portrait) -->
		<link
			rel="apple-touch-startup-image"
			href="//cdn-{{ env }}ria.konecty.com/resources/images/logo/apple-touch-startup-image-1024x748.png"
			media="screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape)"
		/>
		<!-- iPad (non-Retina) (Landscape) -->
		<link
			rel="apple-touch-startup-image"
			href="//cdn-{{ env }}ria.konecty.com/resources/images/logo/apple-touch-startup-image-1536x2008.png"
			media="screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait) and (-webkit-min-device-pixel-ratio: 2)"
		/>
		<!-- iPad (Retina) (Portrait) -->
		<link
			rel="apple-touch-startup-image"
			href="//cdn-{{ env }}ria.konecty.com/resources/images/logo/apple-touch-startup-image-2048x1496.png"
			media="screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape) and (-webkit-min-device-pixel-ratio: 2)"
		/>
		<!-- iPad (Retina) (Landscape) -->
		<link rel="stylesheet" href="//cdn-{{ env }}ria.konecty.com/resources/magnific-popup.css" />
		<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
		<script src="//d2wy8f7a9ursnm.cloudfront.net/bugsnag-2.min.js" data-apikey="532cd7478e21f37caf3226f97f518847"></script>
		<script type="text/javascript">
			{% if blobUrl %}
				window.BLOB_URL = '{{blobUrl}}';
			{% endif %}
			{% if previewUrl %}
				window.PREVIEW_URL = '{{previewUrl}}';
			{% endif %}
			window.LOCALE = '{{locale}}';
			window.ENV = '';
			window.HOST = '{{host}}';
		</script>
	</head>
	<body>
		<script>
			(function(i, s, o, g, r, a, m) {
				i['GoogleAnalyticsObject'] = r;
				(i[r] =
					i[r] ||
					function() {
						(i[r].q = i[r].q || []).push(arguments);
					}),
					(i[r].l = 1 * new Date());
				(a = s.createElement(o)), (m = s.getElementsByTagName(o)[0]);
				a.async = 1;
				a.src = g;
				m.parentNode.insertBefore(a, m);
			})(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
			ga('create', 'UA-47455751-1', 'konecty.com');
			ga('send', 'pageview');
		</script>
		<div id="loading_modal"></div>
		<div id="loading" class="basic_top_box">
			<span id="loading_text">
				<br />
				{{ lbl_loading }}
				<br />
				<br />
				<br />
			</span>
			<div id="bottom_bar">
				<div id="bottom_bar_loading"></div>
				<button id="splash_close">{{ btn_close }}</button>
			</div>
		</div>
		<script>
			document.getElementById('loading').style.top = '0px';
		</script>
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
		<script src="//cdn-{{ env }}ria.konecty.com/resources/jquery.magnific-popup.js"></script>
		<script type="text/javascript" src="//cdn-{{ env }}ria.konecty.com/startup.js?_dc={{ timeInMilis }}"></script>
	</body>
</html>
